{{ define "main" }}
{{ partial "reading_progress.html" . }}
<main class="main single-page">
  {{ partial "side_nav.html" . }}
  
  <article class="post-single">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      {{ partial "post_meta.html" . }}
    </header>
    
    <div class="post-content">
      {{ .Content }}
    </div>
    
    <footer class="post-footer">
      {{- if (.Param "ShowShareButtons") }}
      {{- partial "share_icons.html" . -}}
      {{- end }}
      
      {{ partial "author_bio.html" . }}
      
      {{ partial "related_posts.html" . }}
      
      {{ partial "newsletter.html" . }}
    </footer>
    
    {{- if (.Param "comments") }}
    {{- partial "comments.html" . }}
    {{- end }}
    
    {{ partial "post_nav_links.html" . }}
  </article>
</main>
{{ end }}
