{{- /* Comments area start */ -}}
{{- if .Site.Params.comments -}}
{{- if .Site.Params.utterances -}}
<div id="comments" class="comments-section">
  <script src="https://utteranc.es/client.js"
    repo="{{ .Site.Params.utterances.repo }}"
    issue-term="{{ .Site.Params.utterances.issueTerm | default "pathname" }}"
    theme="{{ .Site.Params.utterances.theme | default "preferred-color-scheme" }}"
    crossorigin="anonymous"
    async>
  </script>
</div>
{{- end -}}
{{- end -}}
{{- /* Comments area end */ -}}